* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-secondary {
	color: #e48f78;
}

header p {
	padding: 0 0.8rem;
}

body {
	/* background-image: linear-gradient(120deg, #e2c35f, #e48f78); */
	background: url('./images/bg.jpg') no-repeat center center/cover;
	color: #fff;
	font-family: 'poppins', sans-serif;
	width: 100vw;
	min-height: 100vh;
}

header {
	font-size: 1.4rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: #fff;
}

form button {
	color: #e48f78;
	background: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background: #e48f78;
	color: #fff;
}

form button:focus {
	outline: none;
}

.input-div {
	display: flex;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 30%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	background: #fff;
	color: black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li {
	flex: 1;
}

.todo-input:focus {
	outline: none;
}

.todo-item {
	padding: 0 0.5rem;
}

.complete-btn,
.trash-btn {
	background: #ff6f47;
	color: #fff;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background: #659c65;
}

.complete-btn:focus,
.trash-btn:focus {
	outline: none;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.fall {
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}

/* GET RID OF ALL STYLING OF THE <SELECT> ELEMENT */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
}

.select {
	margin: 1rem;
	position: relative;
	overflow: hidden;
}

select {
	color: #ff6f47;
	width: 10rem;
	cursor: pointer;
	padding: 1rem;
}

/* PSUEDO ELEMENT - CREATE AND STYLE THE DROP DOWN ARROW */
.select::after {
	content: '\25bc';
	position: absolute;
	background-color: #ff6f47;
	top: 0;
	right: 0;
	padding: 1rem;
	pointer-events: none;
	transition: all 0.3s ease;
}

.select:hover::after {
	background: #fff;
	color: #ff6f47;
}

@media screen and (max-width: 640px) {
	form {
		min-height: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	header {
		flex-direction: column;
	}
}

@media screen and (max-width: 394px) {
	form input {
		max-width: 15rem;
	}

	button {
		height: 5rem;
	}

	header {
		flex-direction: column;
	}
}
